ej8/AlarmaYWebApp/src/wsdl/localhost_8080/seguridadWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://seguridadmuseoservice.nivi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://seguridadmuseoservice.nivi.com/" name="ReconocimientoService">
<types>
<xsd:schema>
<xsd:import namespace="http://seguridadmuseoservice.nivi.com/" schemaLocation="http://localhost:8080/seguridadWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="faceID">
<part name="parameters" element="tns:faceID"></part>
</message>
<message name="faceIDResponse">
<part name="parameters" element="tns:faceIDResponse"></part>
</message>
<message name="setAlerta">
<part name="parameters" element="tns:setAlerta"></part>
</message>
<message name="setAlertaResponse">
<part name="parameters" element="tns:setAlertaResponse"></part>
</message>
<message name="getAlerta">
<part name="parameters" element="tns:getAlerta"></part>
</message>
<message name="getAlertaResponse">
<part name="parameters" element="tns:getAlertaResponse"></part>
</message>
<portType name="Reconocimiento">
<operation name="faceID">
<input wsam:Action="http://seguridadmuseoservice.nivi.com/Reconocimiento/faceIDRequest" message="tns:faceID"></input>
<output wsam:Action="http://seguridadmuseoservice.nivi.com/Reconocimiento/faceIDResponse" message="tns:faceIDResponse"></output>
</operation>
<operation name="setAlerta">
<input wsam:Action="http://seguridadmuseoservice.nivi.com/Reconocimiento/setAlertaRequest" message="tns:setAlerta"></input>
<output wsam:Action="http://seguridadmuseoservice.nivi.com/Reconocimiento/setAlertaResponse" message="tns:setAlertaResponse"></output>
</operation>
<operation name="getAlerta">
<input wsam:Action="http://seguridadmuseoservice.nivi.com/Reconocimiento/getAlertaRequest" message="tns:getAlerta"></input>
<output wsam:Action="http://seguridadmuseoservice.nivi.com/Reconocimiento/getAlertaResponse" message="tns:getAlertaResponse"></output>
</operation>
</portType>
<binding name="ReconocimientoPortBinding" type="tns:Reconocimiento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="faceID">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setAlerta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAlerta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ReconocimientoService">
<port name="ReconocimientoPort" binding="tns:ReconocimientoPortBinding">
<soap:address location="http://localhost:8080/seguridadWS"></soap:address>
</port>
</service>
</definitions>